    .Nav_Image{
        width: auto;
        max-height:45px;
    }
    .navbar{
        height:65px
        z-index: 1030;
            
    }
    .img{
        max-height:  700px;
        width:1400px;
    }

    .aboutusimg{
        max-height:auto;
        width: 800px;
    }
    .card{
        max-width:350px;
        height:auto;
        transition: all 0.5s;
    }
    .card:hover{
        transform: translateY(-5px);
    }
    .cbg{ 

        
        background-size:cover ;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;

    }
    .form{
        padding-top: 100px;
        padding-left: 90px;
        padding-bottom: 100px;
    }
